/**
   * Global Effects
   * -------------------------------------------------------------------------- */

// Typography
$font-family-base: Merriweather, -apple-system, 'Helvetica Neue', serif;
$font-family-mono: Consolas, 'Courier New', monospace;

// Shadows
$shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
$shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
$shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
$shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
$shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);

// Z-indexes
$z-index-tool-nav: 10;
$z-index-nav: 20;
$z-index-mask: 30;
$z-index-sidebar: 40;
$z-index-footer: 50;

// Icons
// ...

// Layouts
$b-sm: 640px;
$b-md: 768px;
$b-lg: 1060px;
$b-xl: 1280px;
$font-break-points: (
  $b-sm: 14px,
  $b-md: 15.5px,
  $b-lg: 16px,
  $b-xl: 16px
);

// Utils
$u-duration: 0.2s;

/**
   * Component
   * -------------------------------------------------------------------------- */

// Content
$max-content-width: 700px;
$max-not-toc-content-width: 800px;
$aside-width: 200px;

// Custom Block
// ...

// Nav
$nav-height-mobile: 57px;
$nav-height-desktop: 65px;
$tool-nav-height: 45px;

// Sidebar
$sidebar-width: 250px;

// Home
// ...
